<ion-header>
  <ion-toolbar>
    <ion-title size="Large" >SkelletonApp </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Bienvenido!</h1>


<ion-content>
  <ion-item>
    <ion-input [(ngModel)]="username" label="Usuario" type="text" minlength="3" maxlength="8"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="password" label="password" type="password" minlength="4" maxlength="4" ></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="login()"  >Registrar</ion-button>
</ion-content>